
body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.navbar-inverse{
	background-color: #990000;	
}

.navbar-inverse .navbar-brand {
    color: #d4d4d4;
}

.navbar-inverse .navbar-nav>li>a {
    color: #d4d4d4;
}

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

.business-header {
    height: 100px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Customize the text color and shadow color and to optimize text legibility. */

.tagline {
    text-shadow: 0 0 10px #990000;
    color: #fff;
}

.img-center {
    margin: 0 auto;
}

footer {
    margin: 10px 0;
}