
body {
    font-family: 'Roboto', sans-serif;
}

.navbar-inverse{
	background-color: #2A3F54;	
}

.navbar-inverse .navbar-brand {
    color: #d4d4d4;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-inverse .navbar-nav>li>a:hover{
	font-weight: bold;
}

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

.business-header {
    height: 100px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Customize the text color and shadow color and to optimize text legibility. */

.tagline {
    text-shadow: 0 0 10px #990000;
    color: #fff;
}

.img-center {
    margin: 0 auto;
}

footer {
    margin: 10px 0;
}

.divContainer {
    /* border: 2px solid #000; */
    border-radius: 25px;
    margin-right: 10px !important;
    margin-left: 10px !important;
    padding: 10px;
    margin-top: 40px !important;
}

.dashboardContainer {
    border: 3px solid #3C948B;
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
    width: 47%;
    height: 100%;
}

table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc,
    table.dataTable thead .sorting, table.dataTable thead .sorting_disabled{
	background-color: #677077 !important;
	color: #FFF !important;
	font-size: 13px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, 
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	background: #F79F79;
}	

.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
	background-color: #F76C5E;
}

table.dataTable thead th {
	text-align: center;
}

table.dataTable tbody td {
	text-align: left;
}

table.dataTable tbody td:last-child {
	text-align: center;
}

.ngdialog.ngdialog-theme-default.custom-width-800 .ngdialog-content {
    width: 800px;
}

.ngdialog.ngdialog-theme-default.custom-width-900 .ngdialog-content {
    width: 900px;
}

/* =============================================================
   FOOTER SECTION STYLES
 ============================================================ */
footer {
    padding: 10px;
    color: #fff;
    font-size: 12px;
    background-color: #2A3F54;
    bottom: 5px;
    width: 100%;
}

footer a, footer a:hover {
    color: #fff;
    text-decoration: none;
}

.notice-board li {
    padding: 10px;
    border-bottom: 1px solid #E5E5E5;
}

.fa{
	cursor: pointer;
}
