/*
	STYLE
*/
body
{
	-webkit-text-size-adjust: none;
}

/*
	MENU
*/
#menu:not(.mm-menu)
{
	display: none;
}
#menu .fa
{
	width: 15px;
	color: #ccc;
}

.mm-panel > p
{
	font-size: 14px;
	margin: 15px 0;
}
.mm-counter.badge
{
	right: 20px;
}

/*
	LAYOUT
*/
#sidePanel
{
	box-sizing: border-box;
	display: block;
	width: 70px;
	height: 45px;
	position: fixed;
	top: 20px;
	left: 10px;
	z-index: 2;
}
html:not(.mm-opening):not(.mm-opened) #sidePanel
{
	transition: top 0.3s ease;
}
#sidePanel:before,
#sidePanel:after,
#sidePanel span
{
	background: #FF432E;
	content: '';
	display: block;
	width: 30px;
	height: 2px;
	position: absolute;
	left: 20px;
}
#sidePanel:before
{
	top: 12px;
}
#sidePanel span
{
	top: 22px;
}
#sidePanel:after
{
	top: 32px;
}

/* sidePanel animation */
#sidePanel:before,
#sidePanel:after,
#sidePanel span
{
	-webkit-transition: none 0.5s ease 0.5s;
	transition: none 0.5s ease 0.5s;

	-webkit-transition-property: transform, top, bottom, left, opacity;
	transition-property: transform, top, bottom, left, opacity;
}
html.mm-opening #sidePanel:before,
html.mm-opening #sidePanel:after
{
	top: 20px;	
}
html.mm-opening #sidePanel span
{
	left: -50px;
	opacity: 0;
}
html.mm-opening #sidePanel:before
{
	transform: rotate( 45deg );
}
html.mm-opening #sidePanel:after
{
	transform: rotate( -45deg );
}


#page,
body > .submenu
{
	font-family: 'Open Sans', Arial, sans-serif;
}
#page
{
	box-shadow: none;
	width: 100%;
	min-width: 320px;
	padding: 100px 0 160px 0;
	overflow: hidden;
	position: relative;
}

#sidePanel + .wrapper:before,
.wrapper:first-child:before
{
	content: '';
	background: url( ../img/phone.png ) center center no-repeat transparent;
	display: block;
	width: 2300px;
	height: 1835px;
	margin-left: -400px;
	position: absolute;
	left: 50%;
	top: -1150px;
	z-index: -1;
}

/*
	Submenu
*/
h1 .submenutext
{
	display: none;
}

.submenu
{
	line-height: 20px;
	padding-top: 5px;
}
h1 + .submenu
{
	margin-top: -80px;
	margin-bottom: 80px;
}
.header h1 + .submenu
{
	margin-bottom: -66px;
}
.submenu ul,
.submenu li
{
	list-style: none;
	display: block;
	padding: 0;
}
.submenu ul
{
	/* border-bottom: 1px solid rgba( 255, 255, 255, 0.5 ); */
	padding: 0 5px;
	margin-left: -20px;
	margin-right: -20px;
}
.submenu ul:after
{
	content: '';
	display: block;
	clear: both;
}
.submenu li
{
	margin: 0;
	float: left;
}
.submenu a
{
	text-decoration: none;
	display: block;
	padding: 10px 15px;
	position: relative;
}
.submenu:hover li.selected a:hover:after,
.submenu li.selected a:after,
.submenu a:hover:after
{
	content: '';
	/* background: #fff; */
	display: block;
	height: 1px;
	position: absolute;
	bottom: -1px;
	left: 15px;
	right: 15px;
}
.submenu:hover li.selected a:after
{
	content: none;
}

.submenu.fixed
{
	background: #294072;
	opacity: 0.95;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
.submenu.fixed div
{
    /*width: 80%;
	max-width: 900px;
	margin: auto;*/
}
.fixedsubmenu .submenu
{
	visibility: hidden;
}
.fixedsubmenu .submenu.fixed
{
	visibility: visible;
	display: block;
	height: 100%;
	overflow: auto;
}
.fixedsubmenu #sidePanel
{
	top: 2px;
}

/* large screens */
@media all and (min-width: 1430px) {
	#sidePanel,
	.lt-1430
	{
		display: none;
	}
}

/* small screens */
@media all and (max-width: 950px) {

	.gt-950px
	{
		display: none;
	}
}

/* really small screens */
@media all and (max-width: 760px) {

	.gt-760px
	{
		display: none;
	}
	#sidePanel
	{
		background: #4bb5ef;
		border-bottom: 1px solid rgba( 255, 255, 255, 0.5 );
		opacity: 0.95;
		width: 100%;
		top: 0 !important;
		left: 0;
	}

}

.mm-panels, {
	top: 10px;
}

.mm-menu {
    max-width: 250px; 
}
     
/**
 * add more vendor prefixes
 * depending on the browsers you're targeting
 */
 
@media all and (min-width: 550px) {
    html.mm-opening .mm-slideout {
        transform: translate(250px, 0); 
    } 
}
     
/**
 * override this rule
 * in case you're building a right menu
 */
 
@media all and (min-width: 550px) {
    html.mm-right.mm-opening .mm-slideout {
        transform: translate(-250px, 0);
    }
}

/**** Start Feature Section ****/


.feature, .feature-2 {
    padding-bottom: 80px;
}

.feature {
    text-align: center;
}
.feature h4{
    font-size: 15px;
    color: #faffbd;
    font-weight: 300;
    font-family: 'Oswald', sans-serif;
}

.feature-2 h4{
    font-size: 15px;
    color: #444;
    padding-bottom: 10px;
    font-weight: 300;
    font-family: 'Oswald', sans-serif;
}

.feature p, .feature-2 p {
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
}


.feature i {
   font-size:3.5em;
   color:#fff;
    background: #FF432E;
    width: 100px;
    height: 100px;
   padding:25px;
    margin-bottom: 10px;
   -webkit-border-radius:70%;
   -moz-border-radius:70%;
   -o-border-radius:70%;
   border-radius:70%;
   position: relative;
	box-shadow: 0 0 0 30px transparent;
	-webkit-transform: translate3d(2, 2, 2);
	-moz-transform: translate3d(2, 2, 2);
	-o-transform: translate3d(2, 2, 2);
	transform: translate3d(2, 2, 2);
	-webkit-transition: box-shadow .6s ease-in-out;
	-moz-transition: box-shadow .6s ease-in-out;
	-o-transition: box-shadow .6s ease-in-out;
	transition: box-shadow .6s ease-in-out;
}
.no-touch .feature:hover i,
	.no-touch .feature:active i,
	.no-touch .feature:focus i {
        
		-webkit-transition: box-shadow .4s ease-in-out;
		-moz-transition: box-shadow .4s ease-in-out;
		-o-transition: box-shadow .4s ease-in-out;
		transition: box-shadow .4s ease-in-out;
		box-shadow: 0 0 0 0 #FF432E;
}

.feature-2 i {
    color:#FF432E;
   font-size:3em;
   padding:1px 10px 0 1px;
   position: relative;
	
}

/**** Start Modal Section ****/

.section-modal .modal-content {
    padding: 100px 0 !important;
    min-height: 100%;
    border: 0 !important;
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    color: #888;
    font-weight: 300;
}


/** Start dashboard2 **/
.ch-grid {
	margin: 20px 0px 20px 0px;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 220px;
	height: 220px;
	display: inline-block;
	margin-left: 100px;
	margin-bottom: 20px;
}


.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	cursor: default;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.ch-thumb {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	box-shadow: inset 0 0 0 15px rgba(255,255,255, 0.5);
	
	-webkit-transform-origin: 95% 40%;
	-moz-transform-origin: 95% 40%;
	-o-transform-origin: 95% 40%;
	-ms-transform-origin: 95% 40%;
	transform-origin: 95% 40%;
	
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.ch-thumb:after {
	content: '';
	width: 8px;
	height: 8px;
	position: absolute;
	border-radius: 50%;
	top: 40%;
	left: 95%;
	margin: -4px 0 0 -4px;
	background: rgb(14,14,14);
	background: -moz-radial-gradient(center, ellipse cover, rgba(14,14,14,1) 0%, rgba(125,126,125,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(14,14,14,1)), color-stop(100%,rgba(125,126,125,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%);
	background: radial-gradient(ellipse at center, rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%);
	box-shadow: 0 0 1px rgba(255,255,255,0.9);
}

.ch-info {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	background: #0C6;
	box-shadow: inset 0 0 0 5px rgba(0,0,0,0.05);
}

.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	position: relative;
	letter-spacing: 2px;
	font-size: 11px;
	margin: 8px 60px;
	padding: 22px 0 0 0;
	height: 85px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info p a {
	display: block;
	color: #333;
	width: 80px;
	height: 80px;
	background: rgba(255,255,255,0.3);
	border-radius: 50%;
	color: #fff;
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 24px;
	margin: 7px auto 0;
	font-family: 'Open Sans', Arial, sans-serif;
	opacity: 0;
	
	-webkit-transition: 
		-webkit-transform 0.3s ease-in-out 0.2s,
		opacity 0.3s ease-in-out 0.2s,
		background 0.2s linear 0s;
	-moz-transition: 
		-moz-transform 0.3s ease-in-out 0.2s,
		opacity 0.3s ease-in-out 0.2s,
		background 0.2s linear 0s;
	-o-transition: 
		-o-transform 0.3s ease-in-out 0.2s,
		opacity 0.3s ease-in-out 0.2s,
		background 0.2s linear 0s;
	-ms-transition: 
		-ms-transform 0.3s ease-in-out 0.2s,
		opacity 0.3s ease-in-out 0.2s,
		background 0.2s linear 0s;
	transition: 
		transform 0.3s ease-in-out 0.2s,
		opacity 0.3s ease-in-out 0.2s,
		background 0.2s linear 0s;
		
	-webkit-transform: translateX(60px) rotate(90deg);
	-moz-transform: translateX(60px) rotate(90deg);
	-o-transform: translateX(60px) rotate(90deg);
	-ms-transform: translateX(60px) rotate(90deg);
	transform: translateX(60px) rotate(90deg);
		
	-webkit-backface-visibility: hidden;
}

.ch-info p a:hover {
	background: rgba(255,255,255,0.5);
}
.ch-item:hover .ch-thumb {
	box-shadow: inset 0 0 0 15px rgba(255,255,255, 0.5), 0 1px 3px rgba(0,0,0,0.2);
	-webkit-transform: rotate(-110deg);
	-moz-transform: rotate(-110deg);
	-o-transform: rotate(-110deg);
	-ms-transform: rotate(-110deg);
	transform: rotate(-110deg);
}
.ch-item:hover .ch-info p a{
	opacity: 1;
	-webkit-transform: translateX(0px) rotate(0deg);
	-moz-transform: translateX(0px) rotate(0deg);
	-o-transform: translateX(0px) rotate(0deg);
	-ms-transform: translateX(0px) rotate(0deg);
	transform: translateX(0px) rotate(0deg);
}
