/*-----------------BUTTON COMPONENT---------------------*/
/*--
.btn-danger{background-color: rgba(217, 83, 79, 0.63);}
.btn-warning { background-color: rgba(240, 173, 78, 0.72);}
.btn-primary {background-color: rgba(51, 122, 183, 0.67);}



.btn-success {
    background-color: rgba(92, 184, 92, 0.55);
    border-color: #4cae4c;
    color: #ffffff;
}

.btn-info {
    background-color: rgba(91, 192, 222, 0.55);
    border-color: #46b8da;
    color: #ffffff;
}--*/


.btn-default {
    background: rgba(222, 222, 222, 0.55);
    border-color: #cccccc;
    color: #333333;
}

.btn-save {
    background: #55C188;
    color: #fff;
}

.btn-close {
    background: #fff;
}

.btn{
	.fa {font-size: 18px;}
}

.btn-primary{@extend .btn-save}


button.dt-button, div.dt-button, a.dt-button{
    background: rgba(0, 0, 0, 0.18);
    border-color: rgba(204, 204, 204, 0.19);
    color: #FBF7F7;
}


.btn-update {
    background-color: #f0ad4e;
    border-color: #eea236;
    color: #fff;
}

/*-----------------TABLE COMPONENT---------------------*/




.perfhr-table{

&.table{
  border:none;
	thead {
	    .sorting_asc,  .sorting_desc, .sorting, .sorting_disabled{background:none}
		}
	tbody{
	   tr{background:none}
	}
 }
	}

/*-----------------PAGNATION COMPONENT---------------------*/
	
	.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover,
	 .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover,
	  .pagination > li > span:focus,
	  .pagination > li > span:hover, .pagination > li > a, .pagination > li > span {
    color: rgba(255, 255, 255, 0.96);
    background-color: inherit;
    border-color: rgba(221, 221, 221, 0.87);
}


.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover, .pagination > li > a:focus, .pagination > li > a:hover, {
    z-index: 3;
    color: #fff;

    background-color: rgba(0, 0, 0, 0.24);
    border-color: rgba(255, 255, 255, 0.84);
}




/*-----------------------------MODAL-----------------------------*/


.modal{   
   background: rgba(0, 0, 0, 0.47);
   
   .form-horizontal .control-label{font-weight:normal; color:#fff;}
   .form-control{background:none; color:#fff;}
   }


.modal-content {
    background: #2C475E;
}


  .modal-header {
    padding: 15px;
     border-bottom: 1px solid rgba(15, 51, 32, 0.38);
    background: #55C188;
    color: #fff;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    background: rgba(0, 0, 0, 0.14);
    border-top: none;
}


