/*-----------------BUTTON COMPONENT---------------------*/
.btn-default {
    background: rgba(222, 222, 222, 0.55);
    border-color: #cccccc;
    color: #333333;
}

.btn-save {
    background: #55C188;
    border: 2px solid #55C188;
    color: #fff;
    
    &:hover, &:active, &:focus{ 
    background: rgba(85, 193, 136, 0.72);
    color: #fff;
    }
}

.btn-close {
    color: #000;
    background-color: #eee;
    border: 2px solid rgb(99, 117, 134);
    &:hover, &:active, &:focus{ 
       background: #eea;
    }
}

.btn{
	.fa {font-size: 18px;}
}

.btn-update {
    background-color: #f0ad4e;
    border:2px solid #eea236;
    color: #fff;
    
    &:hover, &:focus, &:active{
    background-color: rgba(240, 173, 78, 0.68);
    color: #fff;
    }
}

.btn-delete {
   background: #F5474D;
    border:2px solid #F5474D;
    color: #fff;
    
    &:hover, &:focus, &:active{
        background: rgba(245, 71, 77, 0.61);
    color: #fff;
    }
}

 




