<div class="panel panel-success perfhr-panel">
	<div class="panel-heading">
		<h1 class="section-title">Job Title</h1>
		<ul class="rightsided-element">
        	<li>
        		<button data-toggle="modal" ng-click="addDesignation()" ><i class="fa fa-plus"></i>Add</button>
        	</li>
        </ul>
	</div>
	<div>
	    <p class="text-info"><strong>{{msg}}</strong></p>
	    <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table perfhr-table">
	    </table>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="designationForm" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<form role="form" class="form-horizontal" novalidate>
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title" ng-show="!data.pk" id="myModalLabel">Save Designation</h4>
					<h4 class="modal-title" ng-show="data.pk" id="myModalLabel">Update Designation</h4>
				</div>
			    <div class="modal-body">
			    	<div class="row">
					      <div class="col-md-11">
					    	 <div class="form-group">
					      	    <div class="col-md-1"></div>
					    	 	<div class="col-md-8">
					    	 		<div class="help-block">
								    </div>
					    	 	</div>
					    	 	<div class="col-md-1"></div>
					    	 </div>
					         <div class="form-group">
						         <label class="col-md-4 control-label">Designation :</label>
					             <div class="col-md-8">
					               <input type="text" name="Designation" class="form-control" required validType="text-only" ng-minlength="3"
		                				ng-maxlength="45" ng-model="data.designation"/>
					             </div>
			   		         </div>
			   		         <div class="form-group">
						         <label class="col-md-4 control-label">SBU :</label>
					             <div class="col-md-8">
					                <select class="form-control" name="SBU" ng-model="data.sbu" required validType="select" ng-selected="{{data.sbu}}">
					               		<option>CHENNAI ADMIN</option>
					               		<option>CHENNAI CONSULTING</option>
									</select>
					             </div>
			   		         </div>
		   		         </div>
	   		         </div>
			    </div>
			    <div class="modal-footer">
			    	<button type="button" class="btn btn-close" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-save" ng-show="!data.pk" action="save">Save</button>
					<button type="submit" class="btn btn-update" ng-show="data.pk" action="update">Update</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div>
	<!-- Modal -->
	<div class="modal fade" id="deleteDesignation" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Delete Designation</h4>
				</div>
				<div class="modal-body">
					Are you sure you want to delete - <b>{{data.designation}}</b>?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-warning" data-dismiss="modal">No</button>
					<button type="button" class="btn btn-danger" ng-click="deleteDesignation()">Yes</button>
				</div>
			</div>
		</div>
	</div>
</div>