<div class="panel panel-success">
	<div class="panel-heading">
		<h1>Designations</h1>
	</div>
	<div class="panel-body">
		<table class="table table-hover" fixed-header>
			<thead>
				<tr>
					<th><span>Designation</span></th>
					<th><span>Actions</span></th>
				</tr>
			</thead>
			<tbody data-ng-repeat="designation in designations | orderBy:'designation'">
				<tr>
					<td>{{designation.designation}}</td>
					<td>
					    <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#designationForm" data-ng-click="edit(designation)">
							<i class="fa fa-edit"></i>
						</button>
						<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-ng-click="onDelete(designation)">
							<i class="fa fa-trash-o"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-success btn-md" data-toggle="modal" ng-click="addDesignation()">Add Designation</button>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="designationForm" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title" ng-show="!tempData.pk" id="myModalLabel">Save Designation</h4>
				<h4 class="modal-title" ng-show="tempData.pk" id="myModalLabel">Update Designation</h4>
			</div>
		    <div class="modal-body">
		       <div class = "alert alert-info" ng-show="msg">
			  	  {{msg}}
			   </div>
			   <form role="form" class="form-horizontal">
			   	  <div class="row">
				      <div class="col-lg-8">
				         <div class="form-group">
					         <label class="col-md-4 control-label">Designation :</label>
				             <div class="col-md-8">
				               <input type="Text" class="form-control" id="add" autofocus ng-model="tempData.designation"/>
				             </div>
				         </div>
				      </div>
			       </div>
			   </form>
		    </div>
		    <div class="modal-footer">
		    	<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" ng-show="!tempData.pk" ng-click="save()">Save</button>
				<button type="button" class="btn btn-primary" ng-show="tempData.pk" ng-click="update()">Save Changes</button>
			</div>
		</div>
	</div>
</div>
<div>
	<!-- Modal -->
	<div class="modal fade" id="deleteDesignation" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Delete Designation</h4>
				</div>
				<div class="modal-body">
					Are you sure you want to delete - <b>{{tempData.designation}}</b>?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-warning" data-dismiss="modal">No</button>
					<button type="button" class="btn btn-danger" ng-click="deleteDesignation()">Yes</button>
				</div>
			</div>
		</div>
	</div>
</div>