<div class = "alert alert-info" ng-show="$parent.data.msg">
  {{$parent.data.msg}}
</div>
<div class="row">
   <div class="col-sm-6 col-lg-6">
      <div class="form-group">
         <label class="col-md-4 control-label">Employee Id:</label>
         <div class="col-md-8">
            <input type="text" id="employee_id" ng-model="$parent.data.employeeId" class="form-control" placeholder="Employee Id" value="{{$parent.data.employeeId}}" ng-disabled="$parent.data.pk">
         </div>
      </div>
   </div>
   <div class="col-sm-6 col-lg-6">
      <div class="form-group">
         <label class="col-md-4 control-label">Email Id:</label>
         <div class="col-md-8">
            <input type="text" ng-model="$parent.data.email" class="form-control" required placeholder="Email" value="{{$parent.data.email}}">
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-sm-6 col-lg-6">
      <div class="form-group">
         <label class="col-md-4 control-label">First Name:</label>
         <div class="col-md-8">
            <input type="text" ng-model="$parent.data.firstName" class="form-control" required placeholder="First Name" value="{{$parent.data.firstName}}">
         </div>
      </div>
   </div>
   <div class="col-sm-6 col-lg-6">
      <div class="form-group">
         <label class="col-md-4 control-label">Last Name:</label>
         <div class="col-md-8">
            <input type="text" ng-model="$parent.data.lastName" class="form-control" required placeholder="Last Name" value="{{$parent.data.lastName}}">
         </div>
      </div>
   </div>
</div>
<div class="row">
    <div class="col-sm-6 col-lg-6">
      <div class="form-group">
         <label class="col-md-4 control-label">Address</label>
         <div class="col-md-8">
         	<textarea rows="3" cols="36" class="form-control" ng-model="$parent.data.address" value={{$parent.data.address}}></textarea>
         </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-6">
      <div class="form-group">
      	<label for="inputEmail" class="col-md-4 control-label">PinCode</label>
         <div class="col-md-8">
            <input type="text" ng-model="$parent.data.pincode" class="form-control" required placeholder="PinCode" value="{{$parent.data.pincode}}">
         </div>
      </div>
    </div>
</div>
<div class="row">
	<div class="col-sm-6 col-lg-6">
      <div class="form-group date">
         <label class="col-md-4 control-label">D.O.B:</label>
         <div class="col-md-8">
            <p class="input-group">
		        <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" value={{$parent.data.dob}} ng-model="$parent.data.dob" is-open="dob.opened" 
		         		datepicker-options="dateOptions" ng-required="true" close-text="Close"/>
		        <span class="input-group-btn">
		           <button type="button" class="btn btn-default" ng-click="dobDate()"><i class="glyphicon glyphicon-calendar"></i></button>
		        </span>
	        </p>
    	 </div>
      </div>
   </div>
   <div class="col-sm-6 col-lg-6">
      <div class="form-group">
         <label class="col-md-4 control-label">Contact No:</label>
         <div class="col-md-8">
            <input type="text" ng-model="$parent.data.contactNo" class="form-control" required placeholder="Contact No" value="{{$parent.data.contactNo}}">
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-sm-6 col-lg-6">
      <div class="form-group">
         <label class="col-md-4 control-label">Job Title:</label>
         <div class="col-md-8">
            <select class="form-control" ng-model="$parent.data.designations"
            		ng-selected="{{$parent.data.designations}}" ng-options="designation.designation for designation in designations track by designation.pk">
			</select>
         </div>
      </div>
   </div>
   <div class="col-sm-6 col-lg-6">
      <div class="form-group">
         <label class="col-md-4 control-label">Supervisor:</label>
         <div class="col-md-8">
            <select name="supervisor" class="form-control" ng-model="$parent.data.superviser">
				<option ng-repeat='employee in employees | orderBy: "firstName" track by employee.pk' 
					ng-selected="employee.pk == $parent.data.superviser" value="{{employee.pk}}">{{employee.firstName}} {{employee.lastName}}</option>
			</select>
         </div>
      </div>
   </div>
</div>
<div class="row">
	<div class="col-sm-6 col-lg-6">
      <div class="form-group">
         <label for="inputEmail" class="col-md-4 control-label">Blood Group</label>
         <div class="col-md-8">
            <input type="text" ng-model="$parent.data.bloodGroup" class="form-control" required placeholder="Blood Group" value="{{$parent.data.bloodGroup}}">
         </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-6">
      <div class="form-group">
         <label for="inputEmail" class="col-md-4 control-label">Pancard No</label>
         <div class="col-md-8">
            <input type="text" ng-model="$parent.data.panCard" class="form-control" required placeholder="Pancard No" value="{{$parent.data.panCard}}">
         </div>
      </div>
    </div>
</div>
<div class="row">
	<div class="col-sm-6 col-lg-6">
      <div class="form-group date">
         <label class="col-md-4 control-label">Date of Join</label>
         <div class="col-md-8">
          <p class="input-group">
	         <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" value={{$parent.data.joinDate}} ng-model="$parent.data.joinDate" is-open="joinDate.opened" 
	         		datepicker-options="dateOptions" ng-required="true" close-text="Close"/>
	         <span class="input-group-btn">
	           <button type="button" class="btn btn-default" ng-click="joinDate()"><i class="glyphicon glyphicon-calendar"></i></button>
	         </span>
	       </p>
   		 </div>
      </div>
   </div>
   <div class="col-sm-6 col-lg-6">
      <div class="form-group">
         <label class="col-md-4 control-label">Last Working Date:</label>
         <div class="col-md-8">
             <p class="input-group">
	         	<input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" value={{$parent.data.lastWorkDate}} ng-model="$parent.data.lastWorkDate" is-open="lastWorkDate.opened" 
	         		datepicker-options="dateOptions" close-text="Close"/>
	         	<span class="input-group-btn">
	           		<button type="button" class="btn btn-default" ng-click="lastWorkDate()"><i class="glyphicon glyphicon-calendar"></i></button>
	         	</span>
	       	 </p>
	   	 </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-sm-6 col-lg-6">
      <div class="form-group">
         <label class="col-md-4 control-label">SBU:</label>
         <div class="col-md-8">
            <input type="text" ng-model="$parent.data.sbu" class="form-control" required placeholder="SBU" value="{{$parent.data.sbu}}">
         </div>
      </div>
   </div>
   <div class="col-sm-6 col-lg-6">
      <div class="form-group">
         <label class="col-md-4 control-label">Skills:</label>
         <div class="col-md-8">
            <textarea rows="3" cols="36" ng-model="$parent.data.skills" class="form-control" required placeholder="Skills" value="{{$parent.data.skills}}"></textarea>
         </div>
      </div>
   </div>
</div>