<div class="panel panel-success perfhr-panel">
	<div class="panel-heading">
		<h1 class="section-title">Projects</h1>
		<ul class="rightsided-element">
        	<li>
        		<button data-toggle="modal" ng-click="addProject()" ><i class="fa fa-plus"></i>Add</button>
        	</li>
        </ul>
	</div>
	<div ng-controller="projectsTableController as projectTable">
	    <p class="text-danger"><strong>{{msg}}</strong></p>
	    <table datatable="" dt-options="projectTable.dtOptions" dt-columns="projectTable.dtColumns" dt-instance="projectTable.dtInstance" class="table perfhr-table"></table>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="projectForm" role="dialog" data-backdrop="static">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title" ng-show="!data.pk">Save Project</h4>
				<h4 class="modal-title" ng-show="data.pk">Update Project</h4>
			</div>
		    <div class="modal-body">
			   <form role="form" class="form-horizontal">
			   	  <div class="row">
				      <div class="col-sm-10">
				         <div class="form-group">
					         <label class="col-md-4 control-label">Project Name:</label>
				             <div class="col-md-8 input-group">
				               <input type="Text" class="form-control" id="add" autofocus ng-model="data.projectName" value="{{data.projectName}}"/>
				             </div>
				         </div>
				         <div class="form-group">
							<label class="col-md-4 control-label" for="startDate">Project Start Date :</label>
			                <p class="input-group">
					          <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" value={{data.startDate }} ng-model="data.startDate" is-open="stDate.opened" 
					          		datepicker-options="dateOptions" ng-required="true" close-text="Close"/>
					          <span class="input-group-btn">
					            <button type="button" class="btn btn-default" ng-click="prStartDate()"><i class="glyphicon glyphicon-calendar"></i></button>
					          </span>
					        </p>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label" for="startDate">Project End Date :</label>
							<p class="input-group">
					          <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" value={{data.endDate}} ng-model="data.endDate" is-open="endDate.opened" 
					          		datepicker-options="dateOptions" ng-required="true" close-text="Close"/>
					          <span class="input-group-btn">
					            <button type="button" class="btn btn-default" ng-click="prEndDate()"><i class="glyphicon glyphicon-calendar"></i></button>
					          </span>
					        </p>
						</div>
				      </div>
			       </div>
			   </form>
		    </div>
		    <div class="modal-footer">
		    	<button type="button" class="btn btn-close" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-save" ng-show="!data.pk" ng-click="save()">Save</button>
				<button type="button" class="btn btn-update" ng-show="data.pk" ng-click="update()">Update</button>
			</div>
		</div>
	</div>
</div>
<div>
	<div class="modal fade" id="deleteProject" role="dialog" data-backdrop="static">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Delete Project</h4>
				</div>
				<div class="modal-body">
					Are you sure you want to delete - <b>{{data.projectName}}</b>?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-warning" data-dismiss="modal">No</button>
					<button type="button" class="btn btn-danger" ng-click="deleteProject()">Yes</button>
				</div>
			</div>
		</div>
	</div>
</div>