<div class="panel panel-success perfhr-panel">
	<div class="panel-heading">
		<h1 class="section-title">Project Member</h1>
		<ul class="rightsided-element">
        	<li>
        		<button data-toggle="modal" ng-click="add()" ><i class="fa fa-plus"></i>Add</button>
        	</li>
        </ul>
	</div>
	<div>
	    <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table perfhr-table">
	    </table>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="projectMembersForm" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<form role="form" class="form-horizontal" novalidate>
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title" ng-show="!data.pk">Save Project Member</h4>
					<h4 class="modal-title" ng-show="data.pk">Update Project Member</h4>
				</div>
			    <div class="modal-body">
				   	 <div class="row">
					      <div class="col-md-11">
							<div class="form-group">
								<label class="col-md-4 control-label required" for="name">Project Name :</label>
								<div class="col-md-8 input-group splinnputs col-xs-12">
									<select name="Project Name" class="form-control" required validType="select" ng-model="data.projectId"  ng-selected="{{data.projectId}}"
										ng-options="project.projectName for project in projects track by project.pk">
									</select>
									
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label required">Members :</label>
								<div class="col-md-8 input-group splinnputs  col-xs-12">
									<select name="Member" class="form-control" validType="select" ng-model="data.employeeId" required ng-selected="{{data.employeeId}}"
										ng-options='(employee.firstName + ", " + employee.lastName) for employee in employees | orderBy: "firstName" track by employee.pk'>
									</select>
								</div>
							</div>
							<div class="form-group date">
								<label class="col-md-4 control-label required" for="startDate">Member Start Date :</label>
								<p class="input-group splinnputs col-md-8  col-xs-12">
						          <input type="text" name="Member Start Date" class="form-control" uib-datepicker-popup="dd-MM-yyyy" value={{data.dtStarted}} ng-model="data.dtStarted" is-open="pmStDate.opened" 
						          		id="startDt" datepicker-options="dateOptions" required validType="date" ng-minlength="10" ng-maxlength="10" close-text="Close"/>
						          <span class="input-group-btn">
						            <button type="button" class="btn btn-default" ng-click="pmStartDate()"><i class="glyphicon glyphicon-calendar"></i></button>
						          </span>
						          
						        </p>
							</div>
							<div class="form-group date">
								<label class="col-md-4 control-label required">Member End Date :</label>
				                <p class="input-group splinnputs  col-md-8  col-xs-12">
						          <input type="text" name="Member End Date" class="form-control" uib-datepicker-popup="dd-MM-yyyy" value={{data.dtEnded}} ng-model="data.dtEnded" is-open="pmEndDate.opened" 
						          		id="endDt" datepicker-options="dateOptions" required validType="date" ng-minlength="10" ng-maxlength="10" close-text="Close"/>
						          <span class="input-group-btn">
						            <button type="button" class="btn btn-default" ng-click="pmEndDate()"><i class="glyphicon glyphicon-calendar"></i></button>
						          </span>
						        </p>
							</div>
						</div>
					</div>
			    </div>
			    <div class="modal-footer">
			    	<button type="button" class="btn btn-close" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-save" ng-show="!data.pk" action="save">Save</button>
					<button type="submit" class="btn btn-update" ng-show="data.pk" action="update">Update</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div ng-include src="'html/templates/deleteTemplate.html'"></div>