<div class="panel panel-success">
	<div class="panel-heading">
		<b>WFH Calendar</b>
	</div>
	<div class="panel-body">
		<div ng-controller="wfhController as scope">
	  		<h2 class="text-center">{{ scope.calendarTitle }}</h2>
	  		<div class="row">
	  			<div class="col-md-2 text-center">
	  				<div class="btn-group">
				        <button class="btn btn-success pull-right" data-toggle="modal" ng-click="addWfh()">
					      Apply WFH
					    </button>
			        </div>
	  			</div>
	  			<br class="visible-xs visible-sm">
			    <div class="col-md-4 text-center">
			      <div class="btn-group">
			        <button class="btn btn-primary" mwl-date-modifier date="scope.viewDate" decrement="scope.calendarView">
			          Previous
			        </button>
			        <button class="btn btn-default" mwl-date-modifier date="scope.viewDate" set-to-today>
			          Today
			        </button>
			        <button class="btn btn-primary" mwl-date-modifier date="scope.viewDate" increment="scope.calendarView">
			          Next
			        </button>
			      </div>
			    </div>
	    		<br class="visible-xs visible-sm">
			    <div class="col-md-4 text-center">
			      <div class="btn-group">
			        <label class="btn btn-primary" ng-model="scope.calendarView" uib-btn-radio="'year'">Year</label>
			        <label class="btn btn-primary" ng-model="scope.calendarView" uib-btn-radio="'month'">Month</label>
			        <label class="btn btn-primary" ng-model="scope.calendarView" uib-btn-radio="'week'">Week</label>
			        <label class="btn btn-primary" ng-model="scope.calendarView" uib-btn-radio="'day'">Day</label>
			      </div>
			    </div>
			    <br class="visible-xs visible-sm">
			    <div class="col-md-2 text-center">
				    <div class="btn-group" data-toggle="buttons">
					  <label class="btn btn-primary active">
					    <input type="radio" name="options" id="option1" autocomplete="off" checked> All
					  </label>
					  <label class="btn btn-primary">
					    <input type="radio" name="options" id="option2" autocomplete="off"> Mine
					  </label>
					</div>
				</div>
	  		</div>
	  		<br>
			<mwl-calendar events="scope.events" view="scope.calendarView"
			    view-title="scope.calendarTitle"
			    view-date="scope.viewDate"
			    on-event-click="scope.eventClicked(calendarEvent)"
			    on-event-times-changed="scope.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
			    cell-is-open="scope.isCellOpen"
			    cell-modifier="scope.modifyCell(calendarCell)">
			</mwl-calendar>
			
			<!-- Modal -->
			<div class="modal fade bs-example-modal-lg" id="wfhModal" role="dialog">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
			  				<button type="button" class="close" data-dismiss="modal">&times;</button>
			  				<h4 class="modal-title">Apply WFH</h4>
						</div>
						<div class="modal-body">
							<div class = "alert alert-info" ng-show="msg">
						  	  {{msg}}
						   </div>
							<form role="form" class="form-horizontal">
						   	  <div class="row">
							      <div class="col-sm-10">
							         <div class="form-group">
								         <label class="col-md-4 control-label">Title:</label>
							             <div class="col-md-8 input-group">
							               <input type="Text" class="form-control" autofocus ng-model="data.title" value="{{data.title}}"/>
							             </div>
							         </div>
							         <div class="form-group">
								         <label class="col-md-4 control-label">Comment:</label>
  										 <textarea ng-model="data.comments" value="{{data.comments}}" rows="5" cols="45" id="comment"></textarea>
							         </div>
							         <div class="form-group date">
								         <label class="col-md-4 control-label">Starts at:</label>
								         <div class="col-md-8 input-group">
							               <p class="input-group">
									          <input type="text" class="form-control" readonly ng-change="onDtChange()" uib-datepicker-popup="yyyy-MM-dd hh:mm a" ng-model="data.startsAt" value="{{data.startsAt}}"
									          	is-open="scope.startOpen" close-text="Close">
									          <span class="input-group-btn">
									            <button type="button" class="btn btn-default" ng-click="scope.toggle($event, 'startOpen', scope)">
									              <i class="glyphicon glyphicon-calendar"></i>
									            </button>
									          </span>
									        </p>
									        <select ng-change="onDtChange()" class="form-control" ng-model="data.dtFromHalf" ng-selected="{{data.dtFromHalf}}">
									        	<option value="FIRST">First Half</option>
									        	<option value="SECOND">Second Half</option>
									        </select>
							             </div>
							         </div>
							         <div class="form-group">
								         <label class="col-md-4 control-label">Ends at:</label>
							             <div class="col-md-8 input-group">
							               <p class="input-group">
									          <input type="text" class="form-control" readonly ng-change="onDtChange()" uib-datepicker-popup="yyyy-MM-dd hh:mm a" ng-model="data.endsAt" value="{{data.endsAt}}"
									          	is-open="scope.endOpen" close-text="Close" >
									          <span class="input-group-btn">
									            <button type="button" class="btn btn-default" ng-click="scope.toggle($event, 'endOpen', scope)">
									              <i class="glyphicon glyphicon-calendar"></i>
									            </button>
									          </span>
									        </p>
									        <select class="form-control" ng-change="onDtChange()" ng-model="data.dtEndHalf" ng-selected="{{data.dtEndHalf}}">
									        	<option value="FIRST">First Half</option>
									        	<option value="SECOND">Second Half</option>
									        </select>
							             </div>
							         </div>
							      </div>
							   </div>
							</form>
						</div>
						<div class="modal-footer">
						  <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
						  <button type="button" class="btn btn-success" ng-show="!data.pk" ng-click="saveWfh()">Save</button>
						  <button type="button" class="btn btn-info" ng-show="data.pk" ng-click="updateWfh()">Update</button>
						  <button type="button" class="btn btn-danger" ng-show="data.pk" ng-click="deleteWfh()">Delete</button>
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div>
</div>